#### Import libraries

In [1]:
import os 

import pandas as pd
import xarray as xr
import matplotlib.pyplot as plt

#### Read ERA-Land data as grid reference

In [2]:
ds_ref = xr.open_dataset(os.path.join(os.getcwd(), '..', '1.-Output_Gridded_data', 'valid_data_hourly_m_s_2020_2020.nc'))

#### Read Observation data

In [3]:
cuencas = list(range(0, 10))
cuencas.append('B')
cuencas.append('C')

cuenca = 1

base_path = os.path.join(os.getcwd(), 'SfcWind_hourly_Spain_jan2019-sep2024', 'VientoHorario') 

meta_obs_path = os.path.join(base_path, f'MaestroVientoHorario_Cuenca_{cuenca}.csv')
data_obs_path = os.path.join(base_path, f'VientoHorario_Cuenca_{cuenca}.csv')

meta_obs = pd.read_csv(meta_obs_path, delimiter=";", encoding="latin1", on_bad_lines="skip")
data_obs = pd.read_csv(data_obs_path, delimiter=";", encoding="latin1", on_bad_lines="skip")

### Check data

In [4]:
print(meta_obs.shape)
print(data_obs.shape)

(111, 13)
(207708, 65)

In [76]:
meta_obs.head()

,INDICATIVO,NOMBRE,NOM_PROV,NOM_MUNI,ALTITUD,LATITUD,LONGITUD,C_X,C_Y,DATUM,IND_SYN,ALTA,BAJA
0,1002Y,"BAZTÁN, IRURITA",NAVARRA,BAZTAN,183,"43,135833","-1,543056",618492,4776930,ETRS89,8030.0,01/03/2009,NaN
1,1010X,BERA,NAVARRA,BERA,54,"43,278611","-1,675833",607442,4792606,ETRS89,NaN,01/07/2009,NaN
2,1012P,IRUN,GIPUZKOA,IRUN,120,"43,326389","-1,796667",597561,4797764,ETRS89,NaN,01/02/2009,NaN
3,1014,HONDARRIBIA-MALKARROA,GIPUZKOA,HONDARRIBIA,4,"43,356944","-1,792222",597873,4801163,ETRS89,8029.0,01/08/1955,NaN
4,1014A,DONOSTIA / SAN SEBASTIÁN AEROPUERTO,GIPUZKOA,HONDARRIBIA,4,"43,356944","-1,792222",597873,4801163,ETRS89,8029.0,01/01/2004,NaN

In [77]:
data_obs.head()

,INDICATIVO,AÑO,MES,DIA,NOMBRE,ALTITUD,NOM_PROV,LONGITUD,LATITUD,DIR_00,...,DIR_23,VEL_23,R_MAX_DIR,R_MAX_VEL,R_MAX_HOR,DIR_VEL_10,VEL_MED_10,HOR_VEL_10,REC24,REC77
0,1002Y,2019,1,1,"BAZTÁN, IRURITA",183,NAVARRA,"-1,543056","43,135833",0.0,...,6.0,3.0,11.0,9.0,2130.0,99.0,4.0,9999.0,16.0,14.0
1,1002Y,2019,1,2,"BAZTÁN, IRURITA",183,NAVARRA,"-1,543056","43,135833",0.0,...,4.0,8.0,5.0,27.0,1640.0,6.0,14.0,1640.0,58.0,60.0
2,1002Y,2019,1,3,"BAZTÁN, IRURITA",183,NAVARRA,"-1,543056","43,135833",20.0,...,0.0,0.0,13.0,10.0,1220.0,99.0,4.0,30.0,10.0,12.0
3,1002Y,2019,1,4,"BAZTÁN, IRURITA",183,NAVARRA,"-1,543056","43,135833",0.0,...,19.0,3.0,21.0,7.0,740.0,21.0,4.0,740.0,16.0,23.0
4,1002Y,2019,1,5,"BAZTÁN, IRURITA",183,NAVARRA,"-1,543056","43,135833",22.0,...,0.0,0.0,22.0,7.0,1520.0,21.0,5.0,1520.0,21.0,11.0

In [78]:
print(meta_obs.columns)
print(data_obs.columns)
print()
print(meta_obs.shape)
print(data_obs.shape)

Index(['INDICATIVO', 'NOMBRE', 'NOM_PROV', 'NOM_MUNI', 'ALTITUD', 'LATITUD',
       'LONGITUD', 'C_X', 'C_Y', 'DATUM', 'IND_SYN', 'ALTA', 'BAJA'],
      dtype='object')
Index([' INDICATIVO', 'AÑO', 'MES', 'DIA', 'NOMBRE', 'ALTITUD', 'NOM_PROV',
       'LONGITUD', 'LATITUD', 'DIR_00', 'VEL_00', 'DIR_01', 'VEL_01', 'DIR_02',
       'VEL_02', 'DIR_03', 'VEL_03', 'DIR_04', 'VEL_04', 'DIR_05', 'VEL_05',
       'DIR_06', 'VEL_06', 'DIR_07', 'VEL_07', 'DIR_08', 'VEL_08', 'DIR_09',
       'VEL_09', 'DIR_10', 'VEL_10', 'DIR_11', 'VEL_11', 'DIR_12', 'VEL_12',
       'DIR_13', 'VEL_13', 'DIR_14', 'VEL_14', 'DIR_15', 'VEL_15', 'DIR_16',
       'VEL_16', 'DIR_17', 'VEL_17', 'DIR_18', 'VEL_18', 'DIR_19', 'VEL_19',
       'DIR_20', 'VEL_20', 'DIR_21', 'VEL_21', 'DIR_22', 'VEL_22', 'DIR_23',
       'VEL_23', 'R_MAX_DIR', 'R_MAX_VEL', 'R_MAX_HOR', 'DIR_VEL_10',
       'VEL_MED_10', 'HOR_VEL_10', 'REC24', 'REC77'],
      dtype='object')

(111, 13)
(207708, 65)

#### Remove an extra spaec in INDICATIVO name column

In [79]:
data_obs = data_obs.rename(columns={' INDICATIVO': 'INDICATIVO'})

In [80]:
print(meta_obs.columns)
print(data_obs.columns)

Index(['INDICATIVO', 'NOMBRE', 'NOM_PROV', 'NOM_MUNI', 'ALTITUD', 'LATITUD',
       'LONGITUD', 'C_X', 'C_Y', 'DATUM', 'IND_SYN', 'ALTA', 'BAJA'],
      dtype='object')
Index(['INDICATIVO', 'AÑO', 'MES', 'DIA', 'NOMBRE', 'ALTITUD', 'NOM_PROV',
       'LONGITUD', 'LATITUD', 'DIR_00', 'VEL_00', 'DIR_01', 'VEL_01', 'DIR_02',
       'VEL_02', 'DIR_03', 'VEL_03', 'DIR_04', 'VEL_04', 'DIR_05', 'VEL_05',
       'DIR_06', 'VEL_06', 'DIR_07', 'VEL_07', 'DIR_08', 'VEL_08', 'DIR_09',
       'VEL_09', 'DIR_10', 'VEL_10', 'DIR_11', 'VEL_11', 'DIR_12', 'VEL_12',
       'DIR_13', 'VEL_13', 'DIR_14', 'VEL_14', 'DIR_15', 'VEL_15', 'DIR_16',
       'VEL_16', 'DIR_17', 'VEL_17', 'DIR_18', 'VEL_18', 'DIR_19', 'VEL_19',
       'DIR_20', 'VEL_20', 'DIR_21', 'VEL_21', 'DIR_22', 'VEL_22', 'DIR_23',
       'VEL_23', 'R_MAX_DIR', 'R_MAX_VEL', 'R_MAX_HOR', 'DIR_VEL_10',
       'VEL_MED_10', 'HOR_VEL_10', 'REC24', 'REC77'],
      dtype='object')

#### Merge metadata and data

In [81]:
key_columns = ['ALTITUD', 'LATITUD', 'LONGITUD', 'NOMBRE', 'NOM_PROV']

In [82]:
merged_df = pd.merge(meta_obs, data_obs, on='INDICATIVO', suffixes=('_meta', '_data'))

In [83]:
print(merged_df.columns)

Index(['INDICATIVO', 'NOMBRE_meta', 'NOM_PROV_meta', 'NOM_MUNI',
       'ALTITUD_meta', 'LATITUD_meta', 'LONGITUD_meta', 'C_X', 'C_Y', 'DATUM',
       'IND_SYN', 'ALTA', 'BAJA', 'AÑO', 'MES', 'DIA', 'NOMBRE_data',
       'ALTITUD_data', 'NOM_PROV_data', 'LONGITUD_data', 'LATITUD_data',
       'DIR_00', 'VEL_00', 'DIR_01', 'VEL_01', 'DIR_02', 'VEL_02', 'DIR_03',
       'VEL_03', 'DIR_04', 'VEL_04', 'DIR_05', 'VEL_05', 'DIR_06', 'VEL_06',
       'DIR_07', 'VEL_07', 'DIR_08', 'VEL_08', 'DIR_09', 'VEL_09', 'DIR_10',
       'VEL_10', 'DIR_11', 'VEL_11', 'DIR_12', 'VEL_12', 'DIR_13', 'VEL_13',
       'DIR_14', 'VEL_14', 'DIR_15', 'VEL_15', 'DIR_16', 'VEL_16', 'DIR_17',
       'VEL_17', 'DIR_18', 'VEL_18', 'DIR_19', 'VEL_19', 'DIR_20', 'VEL_20',
       'DIR_21', 'VEL_21', 'DIR_22', 'VEL_22', 'DIR_23', 'VEL_23', 'R_MAX_DIR',
       'R_MAX_VEL', 'R_MAX_HOR', 'DIR_VEL_10', 'VEL_MED_10', 'HOR_VEL_10',
       'REC24', 'REC77'],
      dtype='object')

#### Check if all columns match

In [84]:
for col in key_columns:
    col_df1 = f"{col}_meta"
    col_df2 = f"{col}_data"
    if not (merged_df[col_df1] == merged_df[col_df2]).all():
        mismatch = merged_df[merged_df[col_df1] != merged_df[col_df2]]
        print(f"Error: La columna {col} tiene discrepancias en las siguientes filas:")
        print(mismatch[[col_df1, col_df2]])
        raise ValueError(f"Discrepancias encontradas en la columna {col}")

#### Remove duplicate columns

In [85]:
merged_df = merged_df.loc[:, ~merged_df.columns.str.endswith('_meta')]

merged_df.rename(columns={f'{col}_data': col for col in key_columns}, inplace=True)

In [86]:
print(merged_df.columns)

merged_df.head()

Index(['INDICATIVO', 'NOM_MUNI', 'C_X', 'C_Y', 'DATUM', 'IND_SYN', 'ALTA',
       'BAJA', 'AÑO', 'MES', 'DIA', 'NOMBRE', 'ALTITUD', 'NOM_PROV',
       'LONGITUD', 'LATITUD', 'DIR_00', 'VEL_00', 'DIR_01', 'VEL_01', 'DIR_02',
       'VEL_02', 'DIR_03', 'VEL_03', 'DIR_04', 'VEL_04', 'DIR_05', 'VEL_05',
       'DIR_06', 'VEL_06', 'DIR_07', 'VEL_07', 'DIR_08', 'VEL_08', 'DIR_09',
       'VEL_09', 'DIR_10', 'VEL_10', 'DIR_11', 'VEL_11', 'DIR_12', 'VEL_12',
       'DIR_13', 'VEL_13', 'DIR_14', 'VEL_14', 'DIR_15', 'VEL_15', 'DIR_16',
       'VEL_16', 'DIR_17', 'VEL_17', 'DIR_18', 'VEL_18', 'DIR_19', 'VEL_19',
       'DIR_20', 'VEL_20', 'DIR_21', 'VEL_21', 'DIR_22', 'VEL_22', 'DIR_23',
       'VEL_23', 'R_MAX_DIR', 'R_MAX_VEL', 'R_MAX_HOR', 'DIR_VEL_10',
       'VEL_MED_10', 'HOR_VEL_10', 'REC24', 'REC77'],
      dtype='object')

,INDICATIVO,NOM_MUNI,C_X,C_Y,DATUM,IND_SYN,ALTA,BAJA,AÑO,MES,...,DIR_23,VEL_23,R_MAX_DIR,R_MAX_VEL,R_MAX_HOR,DIR_VEL_10,VEL_MED_10,HOR_VEL_10,REC24,REC77
0,1002Y,BAZTAN,618492,4776930,ETRS89,8030.0,01/03/2009,NaN,2019,1,...,6.0,3.0,11.0,9.0,2130.0,99.0,4.0,9999.0,16.0,14.0
1,1002Y,BAZTAN,618492,4776930,ETRS89,8030.0,01/03/2009,NaN,2019,1,...,4.0,8.0,5.0,27.0,1640.0,6.0,14.0,1640.0,58.0,60.0
2,1002Y,BAZTAN,618492,4776930,ETRS89,8030.0,01/03/2009,NaN,2019,1,...,0.0,0.0,13.0,10.0,1220.0,99.0,4.0,30.0,10.0,12.0
3,1002Y,BAZTAN,618492,4776930,ETRS89,8030.0,01/03/2009,NaN,2019,1,...,19.0,3.0,21.0,7.0,740.0,21.0,4.0,740.0,16.0,23.0
4,1002Y,BAZTAN,618492,4776930,ETRS89,8030.0,01/03/2009,NaN,2019,1,...,0.0,0.0,22.0,7.0,1520.0,21.0,5.0,1520.0,21.0,11.0

#### Order columns

In [87]:
column_order = [
    'INDICATIVO', 'NOMBRE', 'NOM_PROV', 'NOM_MUNI', 'ALTITUD', 'LATITUD', 'LONGITUD',
    'C_X', 'C_Y', 'DATUM', 'IND_SYN', 'ALTA', 'BAJA', 'AÑO', 'MES', 'DIA', 'DIR_00', 
    'VEL_00', 'DIR_01', 'VEL_01', 'DIR_02', 'VEL_02', 'DIR_03', 
    'VEL_03', 'DIR_04', 'VEL_04', 'DIR_05', 'VEL_05', 'DIR_06', 'VEL_06', 'DIR_07', 
    'VEL_07', 'DIR_08', 'VEL_08', 'DIR_09', 'VEL_09', 'DIR_10', 'VEL_10', 'DIR_11', 
    'VEL_11', 'DIR_12', 'VEL_12', 'DIR_13', 'VEL_13', 'DIR_14', 'VEL_14', 'DIR_15', 
    'VEL_15', 'DIR_16', 'VEL_16', 'DIR_17', 'VEL_17', 'DIR_18', 'VEL_18', 'DIR_19', 
    'VEL_19', 'DIR_20', 'VEL_20', 'DIR_21', 'VEL_21', 'DIR_22', 'VEL_22', 'DIR_23', 
    'VEL_23', 'R_MAX_DIR', 'R_MAX_VEL', 'R_MAX_HOR', 'DIR_VEL_10', 'VEL_MED_10', 
    'HOR_VEL_10', 'REC24', 'REC77'
]

merged_df = merged_df[column_order]

In [91]:
print(merged_df.columns)
print(merged_df.shape)

Index(['INDICATIVO', 'NOMBRE', 'NOM_PROV', 'NOM_MUNI', 'ALTITUD', 'LATITUD',
       'LONGITUD', 'C_X', 'C_Y', 'DATUM', 'IND_SYN', 'ALTA', 'BAJA', 'AÑO',
       'MES', 'DIA', 'DIR_00', 'VEL_00', 'DIR_01', 'VEL_01', 'DIR_02',
       'VEL_02', 'DIR_03', 'VEL_03', 'DIR_04', 'VEL_04', 'DIR_05', 'VEL_05',
       'DIR_06', 'VEL_06', 'DIR_07', 'VEL_07', 'DIR_08', 'VEL_08', 'DIR_09',
       'VEL_09', 'DIR_10', 'VEL_10', 'DIR_11', 'VEL_11', 'DIR_12', 'VEL_12',
       'DIR_13', 'VEL_13', 'DIR_14', 'VEL_14', 'DIR_15', 'VEL_15', 'DIR_16',
       'VEL_16', 'DIR_17', 'VEL_17', 'DIR_18', 'VEL_18', 'DIR_19', 'VEL_19',
       'DIR_20', 'VEL_20', 'DIR_21', 'VEL_21', 'DIR_22', 'VEL_22', 'DIR_23',
       'VEL_23', 'R_MAX_DIR', 'R_MAX_VEL', 'R_MAX_HOR', 'DIR_VEL_10',
       'VEL_MED_10', 'HOR_VEL_10', 'REC24', 'REC77'],
      dtype='object')
(207708, 72)

In [89]:
merged_df.head()

,INDICATIVO,NOMBRE,NOM_PROV,NOM_MUNI,ALTITUD,LATITUD,LONGITUD,C_X,C_Y,DATUM,...,DIR_23,VEL_23,R_MAX_DIR,R_MAX_VEL,R_MAX_HOR,DIR_VEL_10,VEL_MED_10,HOR_VEL_10,REC24,REC77
0,1002Y,"BAZTÁN, IRURITA",NAVARRA,BAZTAN,183,"43,135833","-1,543056",618492,4776930,ETRS89,...,6.0,3.0,11.0,9.0,2130.0,99.0,4.0,9999.0,16.0,14.0
1,1002Y,"BAZTÁN, IRURITA",NAVARRA,BAZTAN,183,"43,135833","-1,543056",618492,4776930,ETRS89,...,4.0,8.0,5.0,27.0,1640.0,6.0,14.0,1640.0,58.0,60.0
2,1002Y,"BAZTÁN, IRURITA",NAVARRA,BAZTAN,183,"43,135833","-1,543056",618492,4776930,ETRS89,...,0.0,0.0,13.0,10.0,1220.0,99.0,4.0,30.0,10.0,12.0
3,1002Y,"BAZTÁN, IRURITA",NAVARRA,BAZTAN,183,"43,135833","-1,543056",618492,4776930,ETRS89,...,19.0,3.0,21.0,7.0,740.0,21.0,4.0,740.0,16.0,23.0
4,1002Y,"BAZTÁN, IRURITA",NAVARRA,BAZTAN,183,"43,135833","-1,543056",618492,4776930,ETRS89,...,0.0,0.0,22.0,7.0,1520.0,21.0,5.0,1520.0,21.0,11.0

In [90]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207708 entries, 0 to 207707
Data columns (total 72 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   INDICATIVO  207708 non-null  object
 1   NOMBRE      207708 non-null  object
 2   NOM_PROV    207708 non-null  object
 3   NOM_MUNI    207708 non-null  object
 4   ALTITUD     207708 non-null  int64
 5   LATITUD     207708 non-null  object
 6   LONGITUD    207708 non-null  object
 7   C_X         207708 non-null  int64
 8   C_Y         207708 non-null  int64
 9   DATUM       207708 non-null  object
 10  IND_SYN     89203 non-null   float64
 11  ALTA        207708 non-null  object
 12  BAJA        4129 non-null    object
 13  AÑO         207708 non-null  int64
 14  MES         207708 non-null  int64
 15  DIA         207708 non-null  int64
 16  DIR_00      207434 non-null  float64
 17  VEL_00      207433 non-null  float64
 18  DIR_01      205523 non-null  float64
 19  VEL_01      205523 non-null  float64
 20  DIR_02      205532 non-null  float64
 21  VEL_02      205532 non-null  float64
 22  DIR_03      205540 non-null  float64
 23  VEL_03      205539 non-null  float64
 24  DIR_04      205529 non-null  float64
 25  VEL_04      205529 non-null  float64
 26  DIR_05      205534 non-null  float64
 27  VEL_05      205534 non-null  float64
 28  DIR_06      205519 non-null  float64
 29  VEL_06      205519 non-null  float64
 30  DIR_07      207500 non-null  float64
 31  VEL_07      207500 non-null  float64
 32  DIR_08      205475 non-null  float64
 33  VEL_08      205474 non-null  float64
 34  DIR_09      205491 non-null  float64
 35  VEL_09      205491 non-null  float64
 36  DIR_10      205433 non-null  float64
 37  VEL_10      205433 non-null  float64
 38  DIR_11      205477 non-null  float64
 39  VEL_11      205475 non-null  float64
 40  DIR_12      205514 non-null  float64
 41  VEL_12      205513 non-null  float64
 42  DIR_13      207528 non-null  float64
 43  VEL_13      207527 non-null  float64
 44  DIR_14      205535 non-null  float64
 45  VEL_14      205533 non-null  float64
 46  DIR_15      205553 non-null  float64
 47  VEL_15      205552 non-null  float64
 48  DIR_16      205523 non-null  float64
 49  VEL_16      205521 non-null  float64
 50  DIR_17      205551 non-null  float64
 51  VEL_17      205549 non-null  float64
 52  DIR_18      207548 non-null  float64
 53  VEL_18      207547 non-null  float64
 54  DIR_19      205583 non-null  float64
 55  VEL_19      205582 non-null  float64
 56  DIR_20      205580 non-null  float64
 57  VEL_20      205579 non-null  float64
 58  DIR_21      205579 non-null  float64
 59  VEL_21      205578 non-null  float64
 60  DIR_22      205532 non-null  float64
 61  VEL_22      205531 non-null  float64
 62  DIR_23      205510 non-null  float64
 63  VEL_23      205509 non-null  float64
 64  R_MAX_DIR   206256 non-null  float64
 65  R_MAX_VEL   206256 non-null  float64
 66  R_MAX_HOR   205322 non-null  float64
 67  DIR_VEL_10  205292 non-null  float64
 68  VEL_MED_10  205292 non-null  float64
 69  HOR_VEL_10  205240 non-null  float64
 70  REC24       204584 non-null  float64
 71  REC77       205860 non-null  float64
dtypes: float64(57), int64(6), object(9)
memory usage: 114.1+ MB